game.StarterGui:SetCore("SendNotification", {
    Title = "Config Creator";
    Text = "Config make by Loaxm"; -- what the text says (ofc)
    Duration = 20;
})
wait(1)
game.StarterGui:SetCore("SendNotification", {
    Title = "Enjoy";
    Text = "Don't Forget to Subscribe Loaxm"; -- what the text says (ofc)
    Duration = 20;
})

loadstring(game:HttpGet("https://raw.githubusercontent.com/7GrandDadPGN/VapeV4ForRoblox/main/NewMainScript.lua", true))()	
